.app_card_css {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-header {
  background-color: #7C4DFF;
  color:#212121;
}

.availability {
  background-color: grey;
  padding: a
}
